@import 'common.less';

.CustomLevel-level {
  float: left;
  margin-left: -85px;
  top: 75px;
}
.Post--hidden {
  .CustomLevel-level {
    display: none;
  }
  &.revealContent .CustomLevel-level {
    display: block;
  }
}

.Post-header > ul > li.item-custom-levels {
  display: none;
}

@media (max-width: 768px) {
  .PostUser .CustomLevel-level {
    display: none;
  }

  .Post-header > ul > li.item-custom-levels {
    display: inline;
  }
}

li.item-custom-levels,
.Post-header > ul > li.item-custom-levels {
  .CustomLevel-level {
    float: none;
    position: relative;
    margin-left: 0;
    text-align: left;
    width: auto;
  }
}

li.item-custom-levels {
  .CustomLevel-level {
    top: 0;

    .CustomLevel-bar {
      display: none !important;
    }
  }
}

.Post-header > ul > li.item-custom-levels {
  .CustomLevel-level {
    margin-top: 0;
    display: inline-block;

    .CustomLevel-bar {
      display: block !important;
      width: 64px;
    }
  }
}
